@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('fonts/HelveticaNeue Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('fonts/HelveticaNeue Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Base grid styles */
.image-grid {
  display: grid;
  grid-template-columns: 1fr; /* Single column on mobile */
  gap: 16px; /* Space between images */
  padding: 16px;
}

/* Each image item */
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Desktop: 2 images per row */
@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Basic reset */
body {
  margin: 0;
  font-family: sans-serif;
  padding: 1.25rem;
  font-family: "HelveticaNeue Medium";
}

/* Top nav */
.top-nav {
  padding: 0rem 1rem 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.header-subtext {
    color:#4682B4;
    font-size: 0.9rem;
    padding: 0 0.2rem;
    /* FF4500; */
}

/* Secondary nav grid */
.secondary-nav {
  padding: 0.75rem 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
}

.nav-left, .nav-right {
  display: flex;
  gap: 1rem;
}

.nav-left {
  justify-content: flex-start;
}
.nav-right {
  justify-content: flex-end;
}

.secondary-nav a {
  text-decoration: none;
  color: inherit;
  padding: 0 0.5rem;
}

/* Responsive: center nav on mobile */
@media (max-width: 600px) {
  .secondary-nav { grid-template-columns: 1fr; text-align: center; gap: 0.5rem; }
  .nav-left, .nav-right { justify-content: center; }
}




.grid-item {
  /* padding: 1rem; */
  border: 1px solid #ccc;
  text-align: center;
}
